In [1]:
import pandas as pd
import json
import instruments

In [2]:
file = pd.read_csv("/Users/osman/OneDrive/Documents/expected_input.csv",index_col="participant")
dataframe = pd.DataFrame(file)

In [3]:
with open('data.json','r') as infile:
    data = json.load(infile)

In [4]:
for instrument in data:
    if instrument == 'adexi':
        adexi = instruments.Adexi(dataframe.columns,dataframe,data)
        adexi.getSections()
        adexi.addNewDataColumns(instrument)

In [5]:
dataframe[dataframe.columns[11:22]]

,adexi_i11_s1_r1_e1,adexi_i12_s1_r1_e1,adexi_i13_s1_r1_e1,adexi_i14_s1_r1_e1,adexi_s1_r1_e1_complete,adexi_scored-inh_s1_r1_e1,adexi_scored-wm_s1_r1_e1,adexi_total-score_s1_r1_e1,adexi_s1_r1_e2_timestamp,adexi_i1_s1_r1_e2,adexi_i2_s1_r1_e2
participant,,,,,,,,,,,
1001445,3,2,2,3,NaN,17.0,25.0,42.0,NaN,1,2
1001446,3,5,5,5,NaN,18.0,37.0,55.0,NaN,2,5
1001447,1,3,6,3,NaN,NaN,NaN,NaN,NaN,3,3
1001448,4,3,2,3,NaN,15.0,25.0,40.0,NaN,1,2
1001449,1,5,1,1,NaN,14.0,20.0,34.0,NaN,5,2
1001450,2,3,1,3,NaN,NaN,NaN,NaN,NaN,5,5
1001451,4,4,4,4,NaN,19.0,35.0,54.0,NaN,4,4
1001452,2,1,1,1,NaN,13.0,21.0,34.0,NaN,3,5
1001453,4,4,4,5,NaN,18.0,34.0,52.0,NaN,2,5

In [6]:
dataframe[dataframe.columns[32:]]

,adexi_i13_s1_r1_e2,adexi_i14_s1_r1_e2,adexi_s1_r1_e2_complete,adexi_scored-inh_s1_r1_e2,adexi_scored-wm_s1_r1_e2,adexi_total-score_s1_r1_e2
participant,,,,,,
1001445,2,3,NaN,17,25,42
1001446,5,5,NaN,18,37,55
1001447,6,3,NaN,16,34,50
1001448,2,3,NaN,15,25,40
1001449,1,1,NaN,14,20,34
1001450,1,3,NaN,14,25,39
1001451,4,4,NaN,19,35,54
1001452,1,1,NaN,13,21,34
1001453,4,5,NaN,18,34,52