In [1]:
import pandas as pd

In [2]:
file = pd.read_csv("/Users/osman/OneDrive/Documents/expected_input.csv",index_col="participant")
df = pd.DataFrame(file)

In [3]:
df.head()

,adexi_s1_r1_e1_timestamp,adexi_i1_s1_r1_e1,adexi_i2_s1_r1_e1,adexi_i3_s1_r1_e1,adexi_i4_s1_r1_e1,adexi_i5_s1_r1_e1,adexi_i6_s1_r1_e1,adexi_i7_s1_r1_e1,adexi_i8_s1_r1_e1,adexi_i9_s1_r1_e1,...,adexi_i6_s1_r1_e2,adexi_i7_s1_r1_e2,adexi_i8_s1_r1_e2,adexi_i9_s1_r1_e2,adexi_i10_s1_r1_e2,adexi_i11_s1_r1_e2,adexi_i12_s1_r1_e2,adexi_i13_s1_r1_e2,adexi_i14_s1_r1_e2,adexi_s1_r1_e2_complete
participant,,,,,,,,,,,,,,,,,,,,,
1001445,NaN,1,2,3,5,2,4,4,5,4,...,4,4,5,4,2,3,2,2,3,NaN
1001446,NaN,2,5,2,4,5,3,4,4,4,...,3,4,4,4,4,3,5,5,5,NaN
1001447,NaN,3,3,5,3,5,4,4,4,5,...,4,4,4,5,1,1,3,6,3,NaN
1001448,NaN,1,2,4,2,4,1,2,3,4,...,1,2,3,4,5,4,3,2,3,NaN
1001449,NaN,5,2,5,3,2,2,1,1,2,...,2,1,1,2,3,1,5,1,1,NaN

In [101]:
df[df.columns[11:22]]

,adexi_i11_s1_r1_e1,adexi_i12_s1_r1_e1,adexi_i13_s1_r1_e1,adexi_i14_s1_r1_e1,adexi_s1_r1_e1_complete,adexi_s1_r1_e2_timestamp,adexi_i1_s1_r1_e2,adexi_i2_s1_r1_e2,adexi_i3_s1_r1_e2,adexi_i4_s1_r1_e2,adexi_i5_s1_r1_e2
participant,,,,,,,,,,,
1001445,3,2,2,3,NaN,NaN,1,2,3,5,2
1001446,3,5,5,5,NaN,NaN,2,5,2,4,5
1001447,1,3,6,3,NaN,NaN,3,3,5,3,5
1001448,4,3,2,3,NaN,NaN,1,2,4,2,4
1001449,1,5,1,1,NaN,NaN,5,2,5,3,2
1001450,2,3,1,3,NaN,NaN,5,5,3,5,3
1001451,4,4,4,4,NaN,NaN,4,4,2,4,3
1001452,2,1,1,1,NaN,NaN,3,5,4,3,3
1001453,4,4,4,5,NaN,NaN,2,5,3,2,4

In [13]:
#add new column with new data
df['sssq_i1_s1_r1_e1'] = df['adexi_i1_s1_r1_e1'] + df['adexi_i2_s1_r1_e1']
df

,adexi_s1_r1_e1_timestamp,adexi_i1_s1_r1_e1,adexi_i2_s1_r1_e1,adexi_i3_s1_r1_e1,adexi_i4_s1_r1_e1,adexi_i5_s1_r1_e1,adexi_i6_s1_r1_e1,adexi_i7_s1_r1_e1,adexi_i8_s1_r1_e1,adexi_i9_s1_r1_e1,...,adexi_i7_s1_r1_e2,adexi_i8_s1_r1_e2,adexi_i9_s1_r1_e2,adexi_i10_s1_r1_e2,adexi_i11_s1_r1_e2,adexi_i12_s1_r1_e2,adexi_i13_s1_r1_e2,adexi_i14_s1_r1_e2,adexi_s1_r1_e2_complete,sssq_i1_s1_r1_e1
participant,,,,,,,,,,,,,,,,,,,,,
1001445,NaN,1,2,3,5,2,4,4,5,4,...,4,5,4,2,3,2,2,3,NaN,3
1001446,NaN,2,5,2,4,5,3,4,4,4,...,4,4,4,4,3,5,5,5,NaN,7
1001447,NaN,3,3,5,3,5,4,4,4,5,...,4,4,5,1,1,3,6,3,NaN,6
1001448,NaN,1,2,4,2,4,1,2,3,4,...,2,3,4,5,4,3,2,3,NaN,3
1001449,NaN,5,2,5,3,2,2,1,1,2,...,1,1,2,3,1,5,1,1,NaN,7
1001450,NaN,5,5,3,5,3,2,1,1,4,...,1,1,4,1,2,3,1,3,NaN,10
1001451,NaN,4,4,2,4,3,5,4,4,4,...,4,4,4,4,4,4,4,4,NaN,8
1001452,NaN,3,5,4,3,3,3,2,2,2,...,2,2,2,2,2,1,1,1,NaN,8
1001453,NaN,2,5,3,2,4,4,3,4,4,...,3,4,4,4,4,4,4,5,NaN,7

In [102]:
len(df.columns)

32

In [4]:
mark=[]
for index,x in enumerate(df.columns):
    split = x.split("_")
    if split[-1]=='timestamp' or split[-1]=='complete':
        mark.append(index)
addition = df.iloc[:, mark[0]+1:mark[1]].sum(axis=1)
addition

participant
1001445    42
1001446    55
1001447    50
1001448    40
1001449    34
1001450    39
1001451    54
1001452    34
1001453    52
dtype: int64

In [5]:
df.columns[mark[1]].split("_complete")[0]

'adexi_s1_r1_e1'

In [6]:
def addNewColumn(score,name):
    df.insert(loc=mark[1]+1,column=df.columns[mark[1]].split("_complet")[0]+name,value=score,allow_duplicates=False)

In [7]:
addNewColumn(addition,'-total-score')

In [8]:
df[df.columns[11:22]]

,adexi_i11_s1_r1_e1,adexi_i12_s1_r1_e1,adexi_i13_s1_r1_e1,adexi_i14_s1_r1_e1,adexi_s1_r1_e1_complete,adexi_s1_r1_e1-total-score,adexi_s1_r1_e2_timestamp,adexi_i1_s1_r1_e2,adexi_i2_s1_r1_e2,adexi_i3_s1_r1_e2,adexi_i4_s1_r1_e2
participant,,,,,,,,,,,
1001445,3,2,2,3,NaN,42,NaN,1,2,3,5
1001446,3,5,5,5,NaN,55,NaN,2,5,2,4
1001447,1,3,6,3,NaN,50,NaN,3,3,5,3
1001448,4,3,2,3,NaN,40,NaN,1,2,4,2
1001449,1,5,1,1,NaN,34,NaN,5,2,5,3
1001450,2,3,1,3,NaN,39,NaN,5,5,3,5
1001451,4,4,4,4,NaN,54,NaN,4,4,2,4
1001452,2,1,1,1,NaN,34,NaN,3,5,4,3
1001453,4,4,4,5,NaN,52,NaN,2,5,3,2

In [10]:
selected = df.columns[mark[0]+1:mark[1]]
selected

Index(['adexi_i1_s1_r1_e1', 'adexi_i2_s1_r1_e1', 'adexi_i3_s1_r1_e1',
       'adexi_i4_s1_r1_e1', 'adexi_i5_s1_r1_e1', 'adexi_i6_s1_r1_e1',
       'adexi_i7_s1_r1_e1', 'adexi_i8_s1_r1_e1', 'adexi_i9_s1_r1_e1',
       'adexi_i10_s1_r1_e1', 'adexi_i11_s1_r1_e1', 'adexi_i12_s1_r1_e1',
       'adexi_i13_s1_r1_e1', 'adexi_i14_s1_r1_e1'],
      dtype='object')

In [11]:
def subscore(x):
    selectedCols = []
    for i in x:
        selectedCols.append(selected[i-1])
    return df[selectedCols].sum(axis=1)
subscore([4,5,6,7,8])

participant
1001445    20
1001446    20
1001447    20
1001448    12
1001449     9
1001450    12
1001451    20
1001452    13
1001453    17
dtype: int64

In [12]:
addNewColumn(subscore([1, 2, 5, 7, 8, 9, 11, 12, 13]),'-subscore-WM')

In [13]:
df[df.columns[11:22]]

,adexi_i11_s1_r1_e1,adexi_i12_s1_r1_e1,adexi_i13_s1_r1_e1,adexi_i14_s1_r1_e1,adexi_s1_r1_e1_complete,adexi_s1_r1_e1-subscore-WM,adexi_s1_r1_e1-total-score,adexi_s1_r1_e2_timestamp,adexi_i1_s1_r1_e2,adexi_i2_s1_r1_e2,adexi_i3_s1_r1_e2
participant,,,,,,,,,,,
1001445,3,2,2,3,NaN,25,42,NaN,1,2,3
1001446,3,5,5,5,NaN,37,55,NaN,2,5,2
1001447,1,3,6,3,NaN,34,50,NaN,3,3,5
1001448,4,3,2,3,NaN,25,40,NaN,1,2,4
1001449,1,5,1,1,NaN,20,34,NaN,5,2,5
1001450,2,3,1,3,NaN,25,39,NaN,5,5,3
1001451,4,4,4,4,NaN,35,54,NaN,4,4,2
1001452,2,1,1,1,NaN,21,34,NaN,3,5,4
1001453,4,4,4,5,NaN,34,52,NaN,2,5,3

In [14]:
addNewColumn(subscore([3, 4, 6, 10, 14]),'-subscore-INH')

In [15]:
df[df.columns[11:22]]

,adexi_i11_s1_r1_e1,adexi_i12_s1_r1_e1,adexi_i13_s1_r1_e1,adexi_i14_s1_r1_e1,adexi_s1_r1_e1_complete,adexi_s1_r1_e1-subscore-INH,adexi_s1_r1_e1-subscore-WM,adexi_s1_r1_e1-total-score,adexi_s1_r1_e2_timestamp,adexi_i1_s1_r1_e2,adexi_i2_s1_r1_e2
participant,,,,,,,,,,,
1001445,3,2,2,3,NaN,17,25,42,NaN,1,2
1001446,3,5,5,5,NaN,18,37,55,NaN,2,5
1001447,1,3,6,3,NaN,16,34,50,NaN,3,3
1001448,4,3,2,3,NaN,15,25,40,NaN,1,2
1001449,1,5,1,1,NaN,14,20,34,NaN,5,2
1001450,2,3,1,3,NaN,14,25,39,NaN,5,5
1001451,4,4,4,4,NaN,19,35,54,NaN,4,4
1001452,2,1,1,1,NaN,13,21,34,NaN,3,5
1001453,4,4,4,5,NaN,18,34,52,NaN,2,5

In [38]:
# for index,x in enumerate(df.columns):
#     same = x.split("_s")
#     split = x.split("_")
#     if index+1 < len(df.columns):
#         if split[0] == df.columns[index+1].split("_")[0] and split[-1] != 'timestamp' and split[-1] != 'complete' :
#             print(split)

['adexi', 'i1', 's1', 'r1', 'e1']
['adexi', 'i2', 's1', 'r1', 'e1']
['adexi', 'i3', 's1', 'r1', 'e1']
['adexi', 'i4', 's1', 'r1', 'e1']
['adexi', 'i5', 's1', 'r1', 'e1']
['adexi', 'i6', 's1', 'r1', 'e1']
['adexi', 'i7', 's1', 'r1', 'e1']
['adexi', 'i8', 's1', 'r1', 'e1']
['adexi', 'i9', 's1', 'r1', 'e1']
['adexi', 'i10', 's1', 'r1', 'e1']
['adexi', 'i11', 's1', 'r1', 'e1']
['adexi', 'i12', 's1', 'r1', 'e1']
['adexi', 'i13', 's1', 'r1', 'e1']
['adexi', 'i14', 's1', 'r1', 'e1']
['adexi', 'i1', 's1', 'r1', 'e2']
['adexi', 'i2', 's1', 'r1', 'e2']
['adexi', 'i3', 's1', 'r1', 'e2']
['adexi', 'i4', 's1', 'r1', 'e2']
['adexi', 'i5', 's1', 'r1', 'e2']
['adexi', 'i6', 's1', 'r1', 'e2']
['adexi', 'i7', 's1', 'r1', 'e2']
['adexi', 'i8', 's1', 'r1', 'e2']
['adexi', 'i9', 's1', 'r1', 'e2']
['adexi', 'i10', 's1', 'r1', 'e2']
['adexi', 'i11', 's1', 'r1', 'e2']
['adexi', 'i12', 's1', 'r1', 'e2']
['adexi', 'i13', 's1', 'r1', 'e2']
['adexi', 'i14', 's1', 'r1', 'e2']